<div class="row">
    <div class="col-md-1">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4">{{calculator.outputFormula}}</th>
                </tr>
                <tr>
                    <th colspan="4" ng-class="{danger: calculator.error}" ng-bind="calculator.display"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(1)">1</button>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(2)">2</button>    
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(3)">3</button>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.getFormulaBuilder().addPlus() && calculator.updateDisplay()">+</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(4)">4</button>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(5)">5</button>                        
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(6)">6</button>                        
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.getFormulaBuilder().addMinus() && calculator.updateDisplay()">-</button>                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(7)">7</button>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(8)">8</button>                        
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(9)">9</button>                        
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.getFormulaBuilder().addMultiplication() && calculator.updateDisplay()">*</button>                        
                    </td>
                </tr>
                <tr>
                    <td><button class="btn btn-default" type="button" value="input" ng-click="calculator.clear()">CE</button></td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.addDigit(0)">0</button>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.calculate()">=</button>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" value="input" ng-click="calculator.getFormulaBuilder().addDivision() && calculator.updateDisplay()">/</button>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>